<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakem Değerlendirme</title>
</head>
<body>
    <h1>Hakem Değerlendirme Sayfası</h1>

    <embed src="{% url 'projectApp:view_article_pdf' article.id %}" width="100%" height="500px" type="application/pdf">

    <form method="POST">
        {% csrf_token %}
        
        <label for="assessment">Değerlendirme:</label><br>
        <textarea name="assessment" rows="5" cols="50" required>{{ article.assessment|default:"" }}</textarea><br>

        <label for="explanation">Açıklama:</label><br>
        <textarea name="explanation" rows="5" cols="50">{{ article.explanation|default:"" }}</textarea><br>

        <label for="final_assessment_article">Nihai Değerlendirme (Makale İçin):</label><br>
        <input type="text" name="final_assessment_article" value="{{ article.final_assessment_article|default:'' }}"><br>
        

        <button type="submit">Gönder</button>
    </form>
</body>
</html>
